 <!-- ===== admin login start ==== -->

 <section class="login-section">
      <div class="container py-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <form action="/admin/login" autocomplete="off" method="POST">
            <div class="custom-card">
              <div class="p-5 text-center">
                <h3 class="mb-4">Admin Login</h3>
                <div class="mb-4">
                  <input type="email" name="email" placeholder="Enter Email" class="form-control custom-form"/>
                  {{#if loginErr}}
                  <small id="emailHelp" class="form-text text-danger">{{loginErr}}</small>
                  {{/if}}
                </div>
                <div class="mb-4">
                  <input type="password" name="password" placeholder="Enter Password" class="form-control custom-form"/>
                </div>
                <button class="btn btn-primary custom-login mb-2" type="submit">Login</button>
                <br>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
    </section>

  <!-- ===== admin login end ==== -->  

  <!-- ===== admin login css start ==== -->

    <style>
    .custom-card{
        border-radius: 1rem;
        width: 380px;
        height: 374px;
        background-color: rgb(255, 255, 255);
        font-family: 'Fira Sans', sans-serif;
    }

    .login-section{
        background-color: rgb(190, 182, 182);
        height: 827px;
    }

    .custom-login{
        width: 100%;
        height: 2.7rem;
    }

    .custom-form{
        height: 40px;
        width: 100%;
    }
    </style>

  <!-- ===== admin login css end ==== -->
