<!-- ======= user header start =======-->

<header class="bg-primary" id="yt-bg">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
            <a class="navbar-brand custom-navbar" href="/"><i class="fas fa-cart-plus"></i> RASH CART</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"><span id="cart-count"
                                    class="badge">{{cartCount}}</span></i> <span class="cart-hide">CART</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            CATEGORIES
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/category?category=Smart+Speaker">Smart Speaker</a>
                            <a class="dropdown-item" href="/category?category=Smart+Phone">Smart Phone</a>
                            <a class="dropdown-item" href="/category?category=Smart+Watch">Smart Watch</a>
                            <a class="dropdown-item" href="/category?category=Mobile">Mobile</a>
                        </div>
                    </li>
                    {{#if user}}
                    <li class="nav-item">
                        <a class="nav-link" href="/orders">ORDERS</a>
                    </li>
                    {{/if}}
                </ul>
                <div id="search" class="search-wrap mr-auto">
                    <form action="/search" class="form-inline mr-auto">
                        <input class="form-control mr-sm-2" type="text" name="name" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-danger" type="submit">Search</button>
                        {{!-- <input class="btn btn-danger my-2 my-sm-2" type="submit">Search</button> --}}
                    </form>
                </div>
                {{#if user}}
                <div class="signup">
                    <div class="btn-group">
                        <button type="button" class="btn btn-light btn-lg"><i
                                class="fas fa-lg fa-user-circle user-account mr-2"></i>{{user.name}}</button>
                        <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/cart">Cart</a>
                            <a class="dropdown-item" href="/orders">Orders</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger account-font" href="/logout">Logout</a>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="login">
                    <a href="/login" class="btn btn-light login-custom">Login</a>
                </div>
                {{/if}}

            </div>
        </nav>
    </div>
</header>

<!-- ======= user header end =======-->

<!-- ======= user header style start =======-->


<style>
    .navbar-brand {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.6rem;
        font-style: italic;
        font-weight: bolder;
        color: rgb(255, 255, 255) !important;
    }

    .nav-link {
        font-family: 'Fira Sans', sans-serif;
        color: rgb(226, 224, 224) !important;
        font-size: 1rem;
    }

    .badge {
        position: absolute;
        left: 267px;
        top: 7px;
        width: 18px;
        height: 18px;
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        border-radius: 1.25rem;
        background-color: rgb(199, 71, 71);
    }

    @media only screen and (max-width: 992px) {
        .badge {
            position: absolute;
            left: 20px;
            top: 91px;
            width: 18px;
            height: 18px;
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            white-space: nowrap;
            border-radius: 1.25rem;
        }
    }

    .login-custom {
        border-radius: 20px;
        padding: 0.375rem 1.75rem;
        border: 0.1px solid rgb(245, 245, 245);
        font-family: 'Fira Sans', sans-serif;
        color: rgb(29, 29, 29);
    }

    .user-account {
        size: 150px;
    }

    .account-font {
        font-family: 'Fira Sans', sans-serif;
    }
</style>

<!-- ======= user header style end =======-->